body
{
    background-color: black;
}
a
{
    margin-left: 110px;
    color: aliceblue;
    font-size: 32px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    

}
h1{
    font-size: 70px;
    color: darkorange;
    font-weight: 700;
    padding-top: 150px;
    margin-left: 70px;
    
}
h2
{
    color: aliceblue;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;

}
.r
{
    margin-left: 200px;
    padding: 10px;
    color: rgb(179, 173, 174);
    font-size: 32px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 75px 70px 70px;
    background-color: brown;
    width: 280px;
    height: 100px;
    

}
h4
{
    
    color:rgb(25, 215, 218);
    text-shadow: 1px 1px 1px;
    font-size: 26px;
    font-family:'Trirong',serif;
    text-align: justify;
}
.high
{
    color: crimson;
    
    font-size: 22px;
}
